<section id="menu" class="menu-section">
  <div class="container py-3">
    <h2 class="overflow-hidden">Principais Pratos</h2>
    <span>Descubra as delícias que fazem sucesso em nosso restaurante.</span>
    <div class="row mt-4">
      <div class="col-md-4">
        <img src="/imagem/prato1.jpg" alt="Prato 1" class="img-fluid shadow">
        <h3>Prato Especial</h3>
        <p>Macarrão espaguete com camarão e molho.</p>
      </div>
      <div class="col-md-4">
        <img src="/imagem/prato2.jpg" alt="Prato 2" class="img-fluid shadow">
        <h3>Prato Gourmet</h3>
        <p>Frango stir fried chili com pimentão, tomate, cenoura.</p>
      </div>
      <div class="col-md-4">
        <img src="/imagem/prato3.jpg" alt="Prato 3" class="img-fluid shadow">
        <h3>Delícia do Chef</h3>
        <p>Macarrão com molho de tomate e legumes.</p>
      </div>
    </div>
  </div>
</section>