<section id="home" class="row justify-content-center">
    <div class="col-12 col-lg text-center align-content-center content">
        <h1 class="col-12 col-lg">Descubra os sabores mais deliciosos da nossa cozinha!
        </h1>
        <p>Venha se deliciar com receitas que são uma explosão de sabor e tradição.</p>
        <button class="btn btn-dark"><a href="#menu" class="text-light">Ver Menu</a></button>
    </div>
    <img src="/imagem/pasta.jpg" class="float-end banner col-12 col-lg-4" alt="...">
</section>