<div id="contato" class="contact-details d-flex flex-column align-items-center">
    <h2 class="text-center">Entre em Contato</h2>
    <p class="text-center">Fale conosco para dúvidas, reservas ou sugestões. Estamos prontos para ajudar!</p>
    <p><strong>Telefone:</strong> (11) 1234-5678</p>
    <p><strong>E-mail:</strong> contato&#64;saborchef.com.br</p>
    <p><strong>Endereço:</strong> Rua das Delícias, 123, São Paulo - SP</p>
    <a href="#" class="whatsapp-btn text-center">
        Fale conosco pelo WhatsApp
    </a>

    <div class="social-links">
        <a href="#" class="overflow-hidden">
            <img src="/imagem/instagram.png" alt="Instagram">
        </a>
        <a href="#" class="overflow-hidden">
            <img src="/imagem/facebook.png" alt="Facebook">
        </a>
    </div>
</div>